body {
    padding: 30px;
}

div {
    position: relative;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    cursor: pointer;
    color: #333;
    text-align: center;
    transition: color .5s;
    margin: 10px;
}

div::before {
    content: "";
    position: absolute;
    left: 0;
    width: 200px;
    height: 60px;
    background: deeppink;
    z-index: -1;
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    transition: transform .5s;
}

div:hover {
    color: #fff;
    
    &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
        transition-timing-function: ease-in;
    }
}


.two::before {
    transform: scale3d(0, 0, 1);
    transform-origin: 100% 100%;
}

.two:hover {
    color: #fff;
    
    &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 0%;
    }
}

.three::before {
    transform: scale3d(0, 0, 1);
    transform-origin: 50% 100%;
}

.three:hover {
    color: #fff;
    
    &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 50% 0%;
    }
}